<html>
<head>
<link rel="stylesheet" href="style.css" type="text/css">
<title>SOP</title>
</head>
<body>
<h1>Zephony</h1>
<h1>Team Calls</h1>
<h2>Creating Team Calls</h2>
<p>Team Call schedule: Every Tuesday and Friday</p>
<p>Time: 10 AM</p>
<p>Tools: Google Calender</p>
<h3>Notes</h3>
<p>For creating team calls, notification should be set to 20 minutes before the team call.</p>
<p>Invitation for team call will not be sent through any communication channel. Its Attendees responsiblities to follow their schedule and attend the team calls regularly without fail.</p>
<p>The event organiser should take notes during the team calls.</p>
<h2>Scheduling Interviews</h2>
<h3>Notes</h3>
<p>When creating interview calls in google calendar, acknowledge to the correspondind person in the communiction channel after creating the event.</p>
<p>Interview call timings will be fixed by the corresponding member.</p>
<p>Invite both interviewer and interviewee Email Id in the event.</p>
<p>For creating Interview calls, notification should be set for 20 minutes before.</p>
<p>For calls with different timezone, always set to IST.</p>
<p>If there is any changes in appointments or if cancelled, always notifiy the changes through mail to the corresponding memebers.</p>
<h2>Notes for Attendees</h2>
<p>Before creating event or a team call get feedback from corresponding members whether they will be available for the team calls or Events.</p>
<p>If any members need to cancel or postpone the team call or event, its mandatory to notify all the members about the changes.</p>
